@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

.App {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}
.ephimeralNotificationContainer {
  background-color: #222;
  color: #fff;
  position: absolute;
  right: 16px;
  top: 32px;
  width: 200px;
  padding: 8px;
  border-radius: 4px;
}
.ephimeralNotificationContainer.hide {
  display: none;
}
.searchBarContainer {
  padding: 16px;
}
.searchBarContainer input,
.searchBarContainer button {
  font-size: 16px;
  padding: 6px;
}
.searchBarContainer input {
  color: #444;
  border: none;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
}
.searchBarContainer button {
  border-radius: 0px 4px 4px 0px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px) {
  .searchBarContainer input {
    width: 120px;
  }
}
.resultsToolbar {
  display: flex;
  justify-content: center;
}
.resultsToolbar .toolbarButton {
  padding: 8px;
  border: 1px solid #ddd;
  color: #444;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
  font-size: 14px;
  transition: background-color 0.2s;
}
.resultsToolbar .toolbarButton:hover {
  background-color: #eee;
}
.resultsContainer.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.resultsContainer.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultsContainer.grid .albumResultContainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 4px 4px 8px #ddd;
  margin: 16px;
  width: 200px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .resultsContainer.grid .albumResultContainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 4px 4px 8px #ddd;
    margin: 8px;
    width: 120px;
  }
}
.resultsContainer.grid .albumResultContainer img {
  width: 100%;
}
.resultsContainer.list .albumResultContainer img {
  height: 100%;
}
.resultsContainer.list .albumResultContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 16px;
}
.resultsContainer.list .albumResultContainer img {
  border-radius: 4px 0px 0px 4px;
}
.albumInfoContainer {
  padding: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.resultsContainer.list .albumResultContainer .albumInfoContainer {
  padding-left: 16px;
}
.albumTitle,
.albumArtist {
  padding: 4px;
  text-align: left;
}
.appAuthor,
.appAuthor a {
  color: #aaa;
  text-decoration: none;
  margin-top: 32px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  list-style: none;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #777;
  background-color: #fff;
  margin-left: -1px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
